__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Ignore data and runs folder items
data/*
runs/*

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
